* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--light-gray: hsl(212, 45%, 89%);
	--grayish-blue: hsl(220, 15%, 55%);
	--dark-blue: hsl(218, 44%, 22%);
}

html {
	height: 100%;
	font-size: 15px;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--light-gray);
	color: var(--grayish-blue);
	font-family: "Outfit", sans-serif;
	font-size: 1rem;
}

.qr-container,
.qr-container p {
	display: flex;
	flex-direction: column;
}

.qr-container {
	height: 497px;
	width: 100%;
	max-width: 320px;
	padding: 16px;
	margin: auto 0;
	background-color: white;
	text-align: center;
	gap: 16px;
	border-radius: 20px;
}

.qr-code {
	border-radius: 10px;
}

.qr-container p {
	padding: 0 16px;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--dark-blue);
}

.attribution {
	text-align: center;
	padding: 16px 0;
}

.attribution a {
	text-decoration: none;
	color: var(--dark-blue);
}

@media only screen and (min-width: 600px) {
	.attribution {
		position: absolute;
		bottom: 0;
	}
}